<div class="container box">
    <h2>Indique los expediente que desea finalizar.</h2>
    <ul class="list-group">
        {{#each expedientes}}
    <li class="list-group-item disabled"><a href="./feedback/{{nroExp}}">{{nroExp}}</a></li>
        {{/each}}
    </ul>
</div>