<!DOCTYPE html>
<html lang="es">
<head>
  <title>Maestro de Proveedores</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
  {{!-- STYLESHEETS PROPIOS --}}
  <link rel='stylesheet' href='/stylesheets/darknavbar.css'/>
  <link rel='stylesheet' href='/stylesheets/login.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{{#if usuario}}
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg></a>
    <a class="py-2 d-none d-md-inline-block"  href="/alta">Alta</a>
    <a class="py-2 d-none d-md-inline-block" href="/modificar">Modificacion</a>
    <a class="py-2 d-none d-md-inline-block" href="/armar">Armar Listado</a>
    <a class="py-2 d-none d-md-inline-block" href="/ver">Empresas</a>
    <a class="py-2 d-none d-md-inline-block" href="/feedback">Feedback</a>
    <a class="py-2 d-none d-md-inline-block" href="/logout">Logout</a>
  </div>
</nav>
{{/if}}

{{!-- BODY --}}

{{{body}}}

{{!-- FOOTER --}}
{{#if usuario}}
<footer class="pt-4 my-md-5 pt-md-5 border-top footer">
<div class="row">
  <div class="col-6 col-md">

  </div>
  <div class="col-6 col-md">

  </div>
</div>  
</footer>
{{/if}}

{{!-- MODAL INICIAR SESION --}}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bienvenido, iniciar sesion para continuar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="user" placeholder="Nombre de usuario">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="pass" placeholder="Contraseña" >
          </div>
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>

{{!-- MODAL CREAR USUARIO --}}
<div class="modal fade" id="modalCrearUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/crearusuario" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="newUser" placeholder="Nombre de usuario">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="newPass" placeholder="Contraseña" >
          </div>
          <button type="submit" class="btn btn-primary">Crear Usuario</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
{{!-- SCRIPTS --}}
{{!-- <script src="../../javascripts/jquery/jquery.slim.min.js"></script>
<script src="../../javascripts/bootstrap/bootstrap-js.js"></script>
<script src="../../javascripts/jquery/jquery.js"></script>
<script src="../../javascripts/jquery/jquery-ui.js"></script> --}}
</body>
</html>



{{!-- <script src="../javascripts/funciones.js"></script> --}}
{{!-- <script src="../javascripts/ver-js.js"></script> --}}
{{!-- <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>  --}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script> --}}